In [2]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

train = pd.read_csv("train.txt",delimiter=" ")

In [3]:
train.head(10)

,Var1,Var2,Var3,Var4,Var5,Var6,Var7,Var8,Var9,Var10,...,Var222,Var223,Var224,Var225,Var226,Var227,Var228,Var229,Var230,class
29652,NaN,NaN,NaN,NaN,NaN,931.0,7.0,NaN,NaN,NaN,...,catzS2D,LM8l689qOp,NaN,ELof,szEZ,ZI9m,ib5G6X1eUxUn6,NaN,NaN,0
27644,NaN,NaN,NaN,NaN,NaN,245.0,7.0,NaN,NaN,NaN,...,bTV7qqc,LM8l689qOp,NaN,NaN,fKCe,RAYp,F2FyR07IdsN7I,NaN,NaN,0
29835,NaN,NaN,NaN,NaN,NaN,791.0,7.0,NaN,NaN,NaN,...,2JfQ3DB,jySVZNlOJy,NaN,ELof,7aLG,RAYp,F2FyR07IdsN7I,am7c,NaN,0
19631,NaN,NaN,NaN,NaN,NaN,1036.0,7.0,NaN,NaN,NaN,...,hHJsvbM,LM8l689qOp,NaN,NaN,Qcbd,6fzt,SbOd7O8ky1wGNxp0Arj0Xs,NaN,NaN,0
13018,NaN,NaN,NaN,NaN,NaN,518.0,7.0,NaN,NaN,NaN,...,APgVoGr,LM8l689qOp,NaN,NaN,kwS7,02N6s8f,xwM2aC7IdeMC0,NaN,NaN,0
36991,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,...,v5h4IB0,LM8l689qOp,NaN,NaN,szEZ,02N6s8f,F2FyR07IdsN7I,NaN,NaN,0
1326,NaN,NaN,NaN,NaN,NaN,784.0,0.0,NaN,NaN,NaN,...,TIxsTKW,LM8l689qOp,NaN,kG3k,FSa2,RAYp,55YFVY9,am7c,NaN,0
42037,NaN,NaN,NaN,NaN,NaN,1393.0,7.0,NaN,NaN,NaN,...,MKETE6Y,jySVZNlOJy,NaN,kG3k,7P5s,RAYp,TCU50_Yjmm6GIBZ0lL_,mj86,NaN,0
42520,NaN,NaN,NaN,NaN,NaN,1127.0,7.0,NaN,NaN,NaN,...,DHPNgqU,LM8l689qOp,NaN,ELof,WqMG,6fzt,SbOd7O8ky1wGNxp0Arj0Xs,am7c,NaN,0
6784,NaN,NaN,NaN,NaN,NaN,630.0,14.0,NaN,NaN,NaN,...,35GRt2K,LM8l689qOp,NaN,ELof,PM2D,RAYp,F2FyR07IdsN7I,am7c,NaN,0

## Czyszczenie zbioru danych

In [4]:
# usuniÄ™cie kolumn skÅ‚adajÄ…cych siÄ™ z samych brakujÄ…cych wartoÅ›ci

for column in train:
    if train[column].isnull().all():
        print(column)
        train = train.drop(columns=column)

Var8
Var15
Var20
Var31
Var32
Var39
Var42
Var48
Var52
Var55
Var79
Var141
Var167
Var169
Var175
Var185
Var209
Var230

In [5]:
train.shape

(40000, 213)

In [6]:
# sprawdzenie liczby danych w kaÅ¼dej z kolumn
counts = train.describe(include='all').loc["count"].reset_index()
counts.head(5)

  index count
0  Var1   569
1  Var2   969
2  Var3   968
3  Var4  1262
4  Var5  1203

In [7]:
# usuniÄ™cie kolumn ktÃ³re majÄ… mniej niÅ¼ 30 % danych
train_1 = counts.loc[counts['count'] < 12000]
train_1.head(5)

  index count
0  Var1   569
1  Var2   969
2  Var3   968
3  Var4  1262
4  Var5  1203

In [8]:
for column in train:
    if column in train_1['index'].values:
        train = train.drop(columns=column)

In [9]:
train.head(10)

,Var6,Var7,Var13,Var21,Var22,Var24,Var25,Var28,Var35,Var38,...,Var220,Var221,Var222,Var223,Var225,Var226,Var227,Var228,Var229,class
29652,931.0,7.0,268.0,152.0,190.0,2.0,32.0,439.12,0.0,5115720.0,...,4UxGlow,QKW8DRm,catzS2D,LM8l689qOp,ELof,szEZ,ZI9m,ib5G6X1eUxUn6,NaN,0
27644,245.0,7.0,160.0,108.0,135.0,8.0,104.0,253.52,0.0,0.0,...,Fon8hdx,oslk,bTV7qqc,LM8l689qOp,NaN,fKCe,RAYp,F2FyR07IdsN7I,NaN,0
29835,791.0,7.0,248.0,160.0,200.0,0.0,24.0,253.52,0.0,11200140.0,...,hDRv66D,oslk,2JfQ3DB,jySVZNlOJy,ELof,7aLG,RAYp,F2FyR07IdsN7I,am7c,0
19631,1036.0,7.0,192.0,152.0,190.0,2.0,40.0,253.52,0.0,5581176.0,...,Tvpip6Z,zCkv,hHJsvbM,LM8l689qOp,NaN,Qcbd,6fzt,SbOd7O8ky1wGNxp0Arj0Xs,NaN,0
13018,518.0,7.0,368.0,96.0,120.0,4.0,16.0,166.56,0.0,4044.0,...,gwjw2LX,Al6ZaUT,APgVoGr,LM8l689qOp,NaN,kwS7,02N6s8f,xwM2aC7IdeMC0,NaN,0
36991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,nqSwSeH,Al6ZaUT,v5h4IB0,LM8l689qOp,NaN,szEZ,02N6s8f,F2FyR07IdsN7I,NaN,0
1326,784.0,0.0,292.0,124.0,155.0,0.0,8.0,234.72,0.0,3628800.0,...,FhTm94s,oslk,TIxsTKW,LM8l689qOp,kG3k,FSa2,RAYp,55YFVY9,am7c,0
42037,1393.0,7.0,160.0,152.0,190.0,0.0,24.0,286.96,0.0,6276420.0,...,Nh_v4zN,oslk,MKETE6Y,jySVZNlOJy,kG3k,7P5s,RAYp,TCU50_Yjmm6GIBZ0lL_,mj86,0
42520,1127.0,7.0,1080.0,180.0,225.0,2.0,48.0,319.04,0.0,2068278.0,...,XbZitea,zCkv,DHPNgqU,LM8l689qOp,ELof,WqMG,6fzt,SbOd7O8ky1wGNxp0Arj0Xs,am7c,0
6784,630.0,14.0,836.0,80.0,100.0,4.0,72.0,220.08,0.0,0.0,...,ie38iqZ,oslk,35GRt2K,LM8l689qOp,ELof,PM2D,RAYp,F2FyR07IdsN7I,am7c,0

In [10]:
train.shape

(40000, 75)

## UzupeÅ‚nianie danych

PoniewaÅ¼ dane nie sÄ… w Å¼aden sposÃ³b uporzÄ…dkowane, uÅ¼ycie interpolacji liniowej nie wydawaÅ‚o mi siÄ™ rozsÄ…dnym pomysÅ‚em. Z kolei z pobieÅ¼nych obserwacji zbioru danych wyglÄ…daÅ‚o na to, Å¼e istnieje duÅ¼o rekordÃ³w ktÃ³re w wiÄ™kszoÅ›ci kolumn majÄ… NaN - dlatego uzupeÅ‚nienie ich "ostatniÄ… poprzedniÄ… odpowiedniÄ… wartoÅ›ciÄ…" spowoduje, Å¼e byÄ‡ moÅ¼e bÄ™dÄ… to rekordy bliskie tym rzeczywiÅ›cie istniejÄ…cym

In [11]:
train = train.fillna(method='ffill')
train.head(10)

,Var6,Var7,Var13,Var21,Var22,Var24,Var25,Var28,Var35,Var38,...,Var220,Var221,Var222,Var223,Var225,Var226,Var227,Var228,Var229,class
29652,931.0,7.0,268.0,152.0,190.0,2.0,32.0,439.12,0.0,5115720.0,...,4UxGlow,QKW8DRm,catzS2D,LM8l689qOp,ELof,szEZ,ZI9m,ib5G6X1eUxUn6,NaN,0
27644,245.0,7.0,160.0,108.0,135.0,8.0,104.0,253.52,0.0,0.0,...,Fon8hdx,oslk,bTV7qqc,LM8l689qOp,ELof,fKCe,RAYp,F2FyR07IdsN7I,NaN,0
29835,791.0,7.0,248.0,160.0,200.0,0.0,24.0,253.52,0.0,11200140.0,...,hDRv66D,oslk,2JfQ3DB,jySVZNlOJy,ELof,7aLG,RAYp,F2FyR07IdsN7I,am7c,0
19631,1036.0,7.0,192.0,152.0,190.0,2.0,40.0,253.52,0.0,5581176.0,...,Tvpip6Z,zCkv,hHJsvbM,LM8l689qOp,ELof,Qcbd,6fzt,SbOd7O8ky1wGNxp0Arj0Xs,am7c,0
13018,518.0,7.0,368.0,96.0,120.0,4.0,16.0,166.56,0.0,4044.0,...,gwjw2LX,Al6ZaUT,APgVoGr,LM8l689qOp,ELof,kwS7,02N6s8f,xwM2aC7IdeMC0,am7c,0
36991,518.0,7.0,368.0,96.0,120.0,4.0,16.0,166.56,0.0,4044.0,...,nqSwSeH,Al6ZaUT,v5h4IB0,LM8l689qOp,ELof,szEZ,02N6s8f,F2FyR07IdsN7I,am7c,0
1326,784.0,0.0,292.0,124.0,155.0,0.0,8.0,234.72,0.0,3628800.0,...,FhTm94s,oslk,TIxsTKW,LM8l689qOp,kG3k,FSa2,RAYp,55YFVY9,am7c,0
42037,1393.0,7.0,160.0,152.0,190.0,0.0,24.0,286.96,0.0,6276420.0,...,Nh_v4zN,oslk,MKETE6Y,jySVZNlOJy,kG3k,7P5s,RAYp,TCU50_Yjmm6GIBZ0lL_,mj86,0
42520,1127.0,7.0,1080.0,180.0,225.0,2.0,48.0,319.04,0.0,2068278.0,...,XbZitea,zCkv,DHPNgqU,LM8l689qOp,ELof,WqMG,6fzt,SbOd7O8ky1wGNxp0Arj0Xs,am7c,0
6784,630.0,14.0,836.0,80.0,100.0,4.0,72.0,220.08,0.0,0.0,...,ie38iqZ,oslk,35GRt2K,LM8l689qOp,ELof,PM2D,RAYp,F2FyR07IdsN7I,am7c,0

In [12]:
# usuniÄ™cie reszty brakujÄ…cych danych
train = train.dropna()

In [13]:
train.shape

(39998, 75)

In [14]:
# sprawdzenie procentowej ilosci "1" w zbiorze danych
np.sum(train['class'].values)/39998

0.07327866393319667

## Zmiana danych kategorycznych na liczbowe

In [15]:
categorical = train.describe(include=[np.object])
categorical

,Var192,Var193,Var195,Var196,Var197,Var198,Var199,Var200,Var202,Var203,...,Var219,Var220,Var221,Var222,Var223,Var225,Var226,Var227,Var228,Var229
count,39998,39998,39998,39998,39998,39998,39998,39998,39998,39998,...,39998,39998,39998,39998,39998,39998,39998,39998,39998,39998
unique,351,51,23,3,213,3876,4383,13329,5552,5,...,22,3876,7,3876,4,3,23,7,30,4
top,DHeq9ayfAo,RO12,taul,1K8T,0Xwj,fhk21Ss,r83_sZi,yP09M03,nyZz,9_Y1,...,FzaX,4UxGlow,oslk,catzS2D,LM8l689qOp,ELof,FSa2,RAYp,F2FyR07IdsN7I,am7c
freq,327,28753,38382,39646,3689,3502,755,98,165,36315,...,35996,3502,29662,3502,32708,18514,6454,28173,26185,21880

In [16]:
categorical_unique_count = categorical.loc['unique',:].reset_index()
categorical_unique_count.head()

    index unique
0  Var192    351
1  Var193     51
2  Var195     23
3  Var196      3
4  Var197    213

In [17]:
all_categorical_columns = categorical_unique_count['index'].values
all_categorical_columns

array(['Var192', 'Var193', 'Var195', 'Var196', 'Var197', 'Var198',
       'Var199', 'Var200', 'Var202', 'Var203', 'Var204', 'Var205',
       'Var206', 'Var207', 'Var208', 'Var210', 'Var211', 'Var212',
       'Var214', 'Var216', 'Var217', 'Var218', 'Var219', 'Var220',
       'Var221', 'Var222', 'Var223', 'Var225', 'Var226', 'Var227',
       'Var228', 'Var229'], dtype=object)

### Ordinal encoding

In [18]:
from sklearn.preprocessing import OrdinalEncoder

def encode_ordinal(train_set,chosen_columns):
    
    ord_enc = OrdinalEncoder()
    
    encoded = ord_enc.fit_transform(train_set[chosen_columns])
    
    train_set.loc[:,chosen_columns] = encoded
    
    return train_set

In [19]:
train = encode_ordinal(train, all_categorical_columns)
train.head(10)

,Var6,Var7,Var13,Var21,Var22,Var24,Var25,Var28,Var35,Var38,...,Var220,Var221,Var222,Var223,Var225,Var226,Var227,Var228,Var229,class
29835,791.0,7.0,248.0,160.0,200.0,0.0,24.0,253.52,0.0,11200140.0,...,2816.0,4.0,112.0,3.0,0.0,5.0,2.0,8.0,0.0,0
19631,1036.0,7.0,192.0,152.0,190.0,2.0,40.0,253.52,0.0,5581176.0,...,1867.0,6.0,2795.0,0.0,0.0,9.0,1.0,13.0,0.0,0
13018,518.0,7.0,368.0,96.0,120.0,4.0,16.0,166.56,0.0,4044.0,...,2796.0,0.0,604.0,0.0,0.0,15.0,0.0,29.0,0.0,0
36991,518.0,7.0,368.0,96.0,120.0,4.0,16.0,166.56,0.0,4044.0,...,3231.0,0.0,3630.0,0.0,0.0,18.0,0.0,8.0,0.0,0
1326,784.0,0.0,292.0,124.0,155.0,0.0,8.0,234.72,0.0,3628800.0,...,969.0,4.0,1876.0,0.0,1.0,7.0,2.0,2.0,0.0,0
42037,1393.0,7.0,160.0,152.0,190.0,0.0,24.0,286.96,0.0,6276420.0,...,1453.0,4.0,1393.0,3.0,1.0,4.0,2.0,14.0,1.0,0
42520,1127.0,7.0,1080.0,180.0,225.0,2.0,48.0,319.04,0.0,2068278.0,...,2098.0,6.0,808.0,0.0,0.0,12.0,1.0,13.0,0.0,0
6784,630.0,14.0,836.0,80.0,100.0,4.0,72.0,220.08,0.0,0.0,...,2926.0,4.0,143.0,0.0,0.0,8.0,2.0,8.0,0.0,0
19415,959.0,0.0,0.0,284.0,355.0,0.0,112.0,286.96,0.0,3815418.0,...,2694.0,4.0,1563.0,3.0,0.0,0.0,2.0,8.0,0.0,0
42823,665.0,28.0,10572.0,172.0,215.0,4.0,96.0,20.08,0.0,2506968.0,...,1894.0,6.0,605.0,1.0,1.0,7.0,1.0,19.0,0.0,0

### W tym miejscu dane sÄ… wyczyszczone z najwiÄ™kszych brakÃ³w danych, mniejsze braki danych zostaÅ‚y uzupeÅ‚nione metodÄ… uzupeÅ‚nienia poprzedniÄ… wartoÅ›ciÄ… oraz dane kategoryczne zostaÅ‚y zakodowane metodÄ… Ordinal encoding

## PodziaÅ‚ zbioru danych na treningowy i walidacyjny

In [20]:
from sklearn.model_selection import train_test_split

y = train.loc[:,'class']
X = train.loc[:, train.columns != 'class']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((26798, 74), (13200, 74), (26798,), (13200,))

Sprawdzenie ile jedynek jest w zbiorze treningowym, a ile testowym:

In [21]:
np.sum(y_train.values)

1974

In [22]:
np.sum(y_test.values)

957

In [23]:
print(np.sum(y_train.values)/26798)
print(np.sum(y_test.values)/13200)

0.0736622135980297
0.0725

## Przygotowanie miary prec@10

In [24]:
def prec_10(y, y_preds):
    
    pred_results = pd.concat([pd.Series(list(y.index)),pd.Series(y_preds[:,1])],axis=1).set_index(0)
    pred_results = pred_results.rename(index=int, columns={1: "proba_value"})
    pred_results.index.names = ['index']
    pred_results = pred_results.sort_values(by=['proba_value'],ascending=False)
    
    n = int(len(pred_results)*0.1)
    pred_10_results = pred_results.iloc[0:n]  
    
    pred_10_results['class'] = 1
    pred_10_results = pred_10_results.drop(columns='proba_value')
    
    y_df = pd.DataFrame({'index':y.index, 'class':y.values}).set_index('index')
    
    yhat = len(pred_10_results)
    
    matches = 0

    for element in list(pred_10_results.index): 
        if y_df.loc[element]['class']==1:
            matches += 1
    
    #print(matches)
    #print(yhat)
    
    acc_value = matches/yhat
    
    return acc_value

## KaÅ¼dy z modeli jest obudowany funkcjÄ… random search, ktÃ³ra pozwala wybraÄ‡ parametry dajÄ…ce najwyÅ¼szy wynik wg miary prec@10

## Model 1: Random Forest

In [26]:
from sklearn.ensemble import RandomForestClassifier
import random

final_prec = 0
depths = list(range(1, 30))
max_features_type = ['auto','log2',None]
n_est = list(range(1, 10))

for i in range(300):
    n = random.choice(n_est)
    m_d = random.choice(depths)
    m_f = random.choice(max_features_type)
    
    random_forest = RandomForestClassifier(n_estimators=n*50, max_depth=m_d,max_features=m_f,random_state=0)
    y_pred_proba = random_forest.fit(X_train,y_train).predict_proba(X_test)
    prec10 = prec_10(y_test, y_pred_proba)

    if(final_prec<prec10):
        final_prec = prec10
        chosen_n_estim = n*50
        chosen_max_depth = m_d
        chosen_max_features = m_f

        print("Prec@10: " + str(prec10))
        print("chosen_n_estim: " + str(chosen_n_estim))
        print("chosen_max_depth: " + str(chosen_max_depth))
        print("chosen_max_features: " + str(chosen_max_features))
        print("------------")
    
    if(i%25==0):
        print(i)
    
    del(random_forest)

Prec@10: 0.396969696969697
chosen_n_estim: 400
chosen_max_depth: 9
chosen_max_features: None
------------
0
Prec@10: 0.3984848484848485
chosen_n_estim: 300
chosen_max_depth: 22
chosen_max_features: log2
------------
Prec@10: 0.4022727272727273
chosen_n_estim: 50
chosen_max_depth: 8
chosen_max_features: auto
------------
25
Prec@10: 0.4037878787878788
chosen_n_estim: 300
chosen_max_depth: 27
chosen_max_features: auto
------------
50
75
100
125
150
175
200
225
250
275

## Model 2: XGBoost

In [25]:
from xgboost import XGBClassifier
import random

final_prec = 0
n_est = list(range(1, 10))
depths = list(range(1, 30))
l_rates = [0.5]+list(range(1, 5))
gammas = list(range(0,5))

for i in range(450):
    n = random.choice(n_est)
    m_d = random.choice(depths)
    lr = random.choice(l_rates)
    g = random.choice(gammas)
    
    xgb = XGBClassifier(n_estimators=n*50, max_depth=m_d,learning_rate=lr*0.1,gamma=g,random_state=25)
    y_pred_proba = xgb.fit(X_train,y_train).predict_proba(X_test)
    prec10 = prec_10(y_test, y_pred_proba)

    if(final_prec<prec10):
        final_prec = prec10
        chosen_n_estim = n*50
        chosen_max_depth = m_d
        chosen_lr = lr*0.1
        chosen_gamma = g

        print("Prec@10: " + str(prec10))
        print("chosen_n_estim: " + str(chosen_n_estim))
        print("chosen_max_depth: " + str(chosen_max_depth))
        print("chosen_lr: " + str(chosen_lr))
        print("chosen_gamma: " + str(chosen_gamma))
        print("------------")
    
    if i%25 == 0:
        print(i)
    
    del(xgb)

Prec@10: 0.3924242424242424
chosen_n_estim: 250
chosen_max_depth: 9
chosen_lr: 0.05
chosen_gamma: 3
------------
0
Prec@10: 0.3984848484848485
chosen_n_estim: 400
chosen_max_depth: 16
chosen_lr: 0.05
chosen_gamma: 4
------------
25
50
75
100
Prec@10: 0.39924242424242423
chosen_n_estim: 450
chosen_max_depth: 1
chosen_lr: 0.2
chosen_gamma: 2
------------
125
Prec@10: 0.4
chosen_n_estim: 100
chosen_max_depth: 4
chosen_lr: 0.1
chosen_gamma: 2
------------
150
Prec@10: 0.403030303030303
chosen_n_estim: 50
chosen_max_depth: 2
chosen_lr: 0.2
chosen_gamma: 4
------------
175
Prec@10: 0.4037878787878788
chosen_n_estim: 150
chosen_max_depth: 3
chosen_lr: 0.05
chosen_gamma: 4
------------
200
225
250
275
300
325
350
375
400
425

## Model 3: AdaBoost

In [24]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
import random

final_prec = 0
n_est = list(range(1, 10))
depths = list(range(1, 20))
alghorithms = ['SAMME', 'SAMME.R']
l_rates = [0.5]+list(range(1, 5))


for i in range(100):
    m_d = random.choice(depths)
    lr = random.choice(l_rates)
    alg = random.choice(alghorithms)
    n = random.choice(n_est)
    
    adab = AdaBoostClassifier(DecisionTreeClassifier(max_depth=m_d),
                         learning_rate=lr*0.1,
                         algorithm=alg,
                         n_estimators=n*50)
    y_pred_proba = adab.fit(X_train,y_train).predict_proba(X_test)
    prec10 = prec_10(y_test, y_pred_proba)

    if(final_prec<prec10):
        final_prec = prec10
        chosen_n_estim = n*50
        chosen_max_depth = m_d
        chosen_algthoritm = alg
        chosen_lr = lr*0.1

        print("Prec@10: " + str(prec10))
        print("chosen_n_estim: " + str(chosen_n_estim))
        print("chosen_max_depth: " + str(chosen_max_depth))
        print("chosen_algthoritm: " + str(chosen_algthoritm))
        print("chosen_lr: " + str(chosen_lr))
        print("------------")
    
    if(i%25==0):
        print(i)
    
    del(adab)

Prec@10: 0.3553030303030303
chosen_n_estim: 150
chosen_max_depth: 16
chosen_algthoritm: SAMME.R
chosen_lr: 0.2
------------
0
Prec@10: 0.39166666666666666
chosen_n_estim: 250
chosen_max_depth: 2
chosen_algthoritm: SAMME.R
chosen_lr: 0.1
------------
Prec@10: 0.3939393939393939
chosen_n_estim: 300
chosen_max_depth: 1
chosen_algthoritm: SAMME.R
chosen_lr: 0.30000000000000004
------------
Prec@10: 0.3977272727272727
chosen_n_estim: 400
chosen_max_depth: 1
chosen_algthoritm: SAMME.R
chosen_lr: 0.1
------------
Prec@10: 0.39924242424242423
chosen_n_estim: 100
chosen_max_depth: 3
chosen_algthoritm: SAMME
chosen_lr: 0.1
------------
25
Prec@10: 0.4
chosen_n_estim: 400
chosen_max_depth: 1
chosen_algthoritm: SAMME
chosen_lr: 0.4
------------
50
Prec@10: 0.4037878787878788
chosen_n_estim: 50
chosen_max_depth: 2
chosen_algthoritm: SAMME.R
chosen_lr: 0.1
------------
75

## Model 4: Gaussian Naive Bayes

In [52]:
from sklearn.naive_bayes import GaussianNB

variables = [1e-5,1e-6,1e-7,1e-8,1e-9,1e-10,1e-11,1e-12,1e-13]

for var in variables:
    
    gnb = GaussianNB(var_smoothing=var)
    y_pred_proba = gnb.fit(X_train,y_train).predict_proba(X_test)
    prec10 = prec_10(y_test, y_pred_proba)


    print("Prec@10: " + str(prec10))
    print("var: " + str(var))
    print("--------")

        
    del(gnb)

Prec@10: 0.11742424242424243
var: 1e-05
--------
Prec@10: 0.1159090909090909
var: 1e-06
--------
Prec@10: 0.11742424242424243
var: 1e-07
--------
Prec@10: 0.12878787878787878
var: 1e-08
--------
Prec@10: 0.13257575757575757
var: 1e-09
--------
Prec@10: 0.15378787878787878
var: 1e-10
--------
Prec@10: 0.2037878787878788
var: 1e-11
--------
Prec@10: 0.19696969696969696
var: 1e-12
--------
Prec@10: 0.17803030303030304
var: 1e-13
--------

## Wybrany najlepszy model

In [25]:
from xgboost import XGBClassifier

chosen_model = XGBClassifier(n_estimators=150, max_depth=3,learning_rate=0.05,gamma=4,random_state=25)
y_pred_proba = chosen_model.fit(X_train,y_train).predict_proba(X_test)
prec10 = prec_10(y_test, y_pred_proba)
prec10

0.4037878787878788

## UzupeÅ‚nienie pliku xtest

In [26]:
testx = pd.read_csv("testx.txt",delimiter=" ")
testx.head()

,Var1,Var2,Var3,Var4,Var5,Var6,Var7,Var8,Var9,Var10,...,Var221,Var222,Var223,Var224,Var225,Var226,Var227,Var228,Var229,Var230
4,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,oslk,CE7uk3u,LM8l689qOp,NaN,NaN,FSa2,RAYp,F2FyR07IdsN7I,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,1141.0,7.0,NaN,NaN,NaN,...,oslk,EPqQcw6,LM8l689qOp,NaN,kG3k,FSa2,RAYp,55YFVY9,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,490.0,7.0,NaN,NaN,NaN,...,zCkv,catzS2D,LM8l689qOp,NaN,kG3k,WqMG,ZI9m,ib5G6X1eUxUn6,mj86,NaN
14,NaN,NaN,NaN,NaN,NaN,2268.0,0.0,NaN,NaN,NaN,...,oslk,QKXEsaq,LM8l689qOp,NaN,xG3x,Qu4f,RAYp,F2FyR07IdsN7I,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,3633.0,7.0,NaN,NaN,NaN,...,oslk,kYwEsaq,LM8l689qOp,NaN,NaN,PM2D,RAYp,F2FyR07IdsN7I,NaN,NaN

### Przygotowanie tych samych kolumn, ktÃ³re wykorzystywane sÄ… w pliku train:

In [27]:
columns_in_use = train.columns.values[:-1]
columns_in_use

array(['Var6', 'Var7', 'Var13', 'Var21', 'Var22', 'Var24', 'Var25',
       'Var28', 'Var35', 'Var38', 'Var44', 'Var57', 'Var65', 'Var72',
       'Var73', 'Var74', 'Var76', 'Var78', 'Var81', 'Var83', 'Var85',
       'Var94', 'Var109', 'Var112', 'Var113', 'Var119', 'Var123',
       'Var125', 'Var126', 'Var132', 'Var133', 'Var134', 'Var140',
       'Var143', 'Var144', 'Var149', 'Var153', 'Var160', 'Var163',
       'Var173', 'Var181', 'Var189', 'Var192', 'Var193', 'Var195',
       'Var196', 'Var197', 'Var198', 'Var199', 'Var200', 'Var202',
       'Var203', 'Var204', 'Var205', 'Var206', 'Var207', 'Var208',
       'Var210', 'Var211', 'Var212', 'Var214', 'Var216', 'Var217',
       'Var218', 'Var219', 'Var220', 'Var221', 'Var222', 'Var223',
       'Var225', 'Var226', 'Var227', 'Var228', 'Var229'], dtype=object)

In [28]:
testx = testx[columns_in_use]

### UzupeÅ‚nienie danych tÄ… samÄ… metodÄ…

In [39]:
testx = testx.fillna(method='ffill')
testx = testx.fillna(method='bfill')
testx.head(5)

,Var6,Var7,Var13,Var21,Var22,Var24,Var25,Var28,Var35,Var38,...,Var219,Var220,Var221,Var222,Var223,Var225,Var226,Var227,Var228,Var229
4,1141.0,0.0,0.0,208.0,0.0,2.0,0.0,22.08,0.0,0.0,...,8.0,680.0,4.0,380.0,0.0,1.0,7.0,2.0,7.0,1.0
10,1141.0,7.0,164.0,208.0,260.0,2.0,72.0,166.56,5.0,5317974.0,...,8.0,1440.0,4.0,458.0,0.0,1.0,7.0,2.0,2.0,1.0
11,490.0,7.0,2060.0,92.0,115.0,6.0,112.0,133.12,0.0,3534.0,...,8.0,152.0,6.0,1307.0,0.0,1.0,12.0,3.0,23.0,1.0
14,2268.0,0.0,0.0,480.0,600.0,10.0,216.0,176.56,0.0,87294.0,...,8.0,1088.0,4.0,869.0,0.0,2.0,10.0,2.0,7.0,1.0
15,3633.0,7.0,500.0,148.0,185.0,0.0,8.0,236.08,0.0,8521620.0,...,8.0,539.0,4.0,1567.0,0.0,2.0,8.0,2.0,7.0,1.0

In [30]:
testx.shape

(10000, 74)

### Zamiana zmiennych kategorycznych na liczbowe

In [40]:
testx = encode_ordinal(testx,all_categorical_columns)
testx.head(5)

,Var6,Var7,Var13,Var21,Var22,Var24,Var25,Var28,Var35,Var38,...,Var219,Var220,Var221,Var222,Var223,Var225,Var226,Var227,Var228,Var229
4,1141.0,0.0,0.0,208.0,0.0,2.0,0.0,22.08,0.0,0.0,...,8.0,680.0,4.0,380.0,0.0,1.0,7.0,2.0,7.0,1.0
10,1141.0,7.0,164.0,208.0,260.0,2.0,72.0,166.56,5.0,5317974.0,...,8.0,1440.0,4.0,458.0,0.0,1.0,7.0,2.0,2.0,1.0
11,490.0,7.0,2060.0,92.0,115.0,6.0,112.0,133.12,0.0,3534.0,...,8.0,152.0,6.0,1307.0,0.0,1.0,12.0,3.0,23.0,1.0
14,2268.0,0.0,0.0,480.0,600.0,10.0,216.0,176.56,0.0,87294.0,...,8.0,1088.0,4.0,869.0,0.0,2.0,10.0,2.0,7.0,1.0
15,3633.0,7.0,500.0,148.0,185.0,0.0,8.0,236.08,0.0,8521620.0,...,8.0,539.0,4.0,1567.0,0.0,2.0,8.0,2.0,7.0,1.0

In [32]:
testx.shape

(10000, 74)

## Zastosowanie modelu do danych testowych i zapis do pliku

In [34]:
y = train.loc[:,'class']
X = train.loc[:, train.columns != 'class']

In [35]:
chosen_model = XGBClassifier(n_estimators=150, max_depth=3,learning_rate=0.05,gamma=4,random_state=25)
y_predicted_results = chosen_model.fit(X,y).predict_proba(testx)

In [36]:
y_predicted_results[:,1]

array([0.00247452, 0.07676938, 0.06036153, ..., 0.02280842, 0.04498482,
       0.03174146], dtype=float32)

In [37]:
with open("KATSPA.txt", "w") as file:
    file.write("\"KATSPA\"" + "\n")
    for element in y_predicted_results[:,1]:
        file.write(str(element)+"\n")